.message-container.right {
    text-align: right;
    justify-content: flex-end
}

.message-container {
    display: flex;
    justify-content: flex-start;
    min-height: 50px;
    margin: 10px 15px;
    animation: .65s ease-out 0s show
}
